body {
    background-color: #ccc;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
    margin: 0px;
}
.navbar-container {
    height: 80px;
    background-color: #fff;
}
.navbar {
    max-width: 1196px;
    margin: 0 auto;
}
.navbar-logo {
    width: 10%;
    display: inline-block;
}
.navbar-menu {
    display: inline-block;
    text-align: center;
}
.navbar-menu li {
	list-style: none;
	display: inline-block;
  margin: auto 20px;
}
.navbar-menu a {
  text-decoration: none;
  font-size: 17px;
}

.navbar-menu a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.navbar-menu .icon {
  display: none;
}

.container {
    max-width: 1196px;
    background-color: #fff;
    margin: 5px auto;
}
 .product {
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    width: 140px;
    height: 156px;
    margin-bottom: 20px;
}
.page {
    max-width: 900px;
    margin: 0 auto;
}
.productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.icon {
    float: right;
    display: none;
    margin: auto 10px;
    font-size: 30px;
}
.icon a {
    color: #999;
}
.productImage {
    height: 50%;
}
.productTitle {
    font-size: 12px;
}
.product {
    position: relative;
}
.productPrice {
    position: absolute;
    font-size: 14px;
    color: #F00;
    font-weight: bold;
    bottom: 2px;
}

@media screen and (max-width: 600px) {
  .navbar-menu a {display: none;}
  .icon {
    display: inline-block;
  }
}

@media screen and (max-width: 400px) {
  .page {
    max-width: 350px;
  }
}
